@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
/* font-family: 'KoHo', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
/* font-family: 'Emilys Candy', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
/* font-family: 'Balsamiq Sans', cursive; */

* {
  margin: 0;
  box-sizing: border-box;
}

/************************************************************/
/*********************** Navbar ****************************/
/**********************************************************/
.navbar-container {
  position: sticky;
  top: 0;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(76, 76, 109);
  height: 3rem;
  text-decoration: none;
}
 .navbar-li-link {
   margin: 5px;
   text-decoration: none;
   color: white;
   font-family: 'Roboto', sans-serif;
   padding: 0.5rem;
 }
 .navbar-li-link:hover {
   margin: 5px;
   text-decoration: none;
   color: white;
   font-family: 'Roboto', sans-serif;
   height: inherit;
   background-color: rgb(110, 125, 156);
 }

 a {
   text-decoration: none;
 }

 .empty-navbar {
   width: 100%;
   height: 3rem;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(37, 37, 49);
   color: white;

 }


 /************************************************************/
/************************** Menu ****************************/
/**********************************************************/

.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( rgb(224, 243, 243), rgb(160, 173, 173));
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 0px;
  background-color: rgb(248, 248, 243);
  border-radius: 2px;
  box-shadow: 1px 2px 5px rgb(173, 173, 173);
}

.menu h1{
  justify-self: center;
  margin: 0.5rem;
  font-family: 'Emilys Candy', cursive;
  font-size: 5rem;
  font-weight: 500;
  color: rgb(164, 226, 183);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  text-shadow: 1px 2px 5px rgb(173, 173, 173);
}

.dishes-in-menu{
display: grid;
grid-gap: 3rem;
width: 90%;
margin: 1rem;
grid-template-columns: auto auto auto;
}

.checkout-button{
  font-size: 1.3rem;
  margin: 1rem;
  font-weight: 550;
  padding: 0.4rem 0.8rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(200, 240, 200);
 
  border: 1px solid rgb(141, 141, 141);
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
}

.checkout-button:hover{
  background-color: rgb(228, 243, 239);
  color: rgb(32, 32, 32);
  font-weight: 550;
  box-shadow: inset 0 0 10px #ffffff;
  box-shadow: 1px 1px 30px rgb(255, 255, 255);
}

.create-new-dish-link{
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 30%;
  left: 30%;
}

.create-new-dish-button {
  background-color: inherit;
  line-height: 10rem;
  border: none;
  border-radius: 50%;
  font-size: 13rem;
  background-color: rgb(217, 231, 212);
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  box-shadow: 1px 1px 1px rgb(202, 212, 198);
}

.create-new-dish-button:hover {
  background-color: inherit;
  line-height: 10rem;
  border: none;
  border-radius: 50%;
  font-size: 13rem;
  background-color: rgb(205, 250, 190);
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  box-shadow: 1px 1px 1px rgb(202, 212, 198);
  transition: all 0.09s;
}

 /************************************************************/
/************************** Dish ****************************/
/**********************************************************/

.pen-icon {
  color: rgb(137, 110, 253);
  right: 0;
}

.Dish-card-container{
  border: 1px solid rgb(168, 168, 168);
  padding: 0; 
  width: 27rem;
  margin: 0;
  height: 38rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(196, 196, 196);
  background-color: rgb(247, 247, 241);
}

.Dish-card{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.Dish-card >  img {
  width: 25rem;
  height: 20rem;
  margin: 0;
  border: 3px solid rgb(209, 209, 174);
}

.dish-title{
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.5rem;
}

.dish-title:hover{
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.5rem;
  color: darkblue;
}

.dish-title > img {
}

.dish-title-text{
  margin-left: 0.8rem;
}

.dish-description{
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  color:rgb(46, 46, 54);
}

.dish-price{
  font-family: 'Roboto', sans-serif;
  margin: 0.5rem;
  color:seagreen;
}

.buttons-and-input{
  margin: 1rem;
}

.dish-incresment,
.dish-decresment{
  padding: 0.3rem 0.7rem;
  color:rgb(64, 63, 83);
  font-size: 1.2rem;
  background-color: rgb(164, 226, 183);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;

}

.dish-incresment:hover,
.dish-decresment:hover{
  background-color: lightskyblue;
}

.amount {
  padding: 0.5rem;
  color:rgb(64, 63, 83);
  font-size: 1.8rem;
}

 /************************************************************/
/************************** Checkout ****************************/
/**********************************************************/
.checkout-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( rgb(224, 243, 243), rgb(160, 173, 173));
}

.checkout-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 0px;
  background-color: rgb(248, 248, 243);
  border-radius: 2px;
  box-shadow: 1px 2px 5px rgb(173, 173, 173);
}

.checkout-card > h2 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.order-display-table{
  border: 1px solid rgb(190, 190, 190);
  margin: 2rem;
  background-color: white;
  border-collapse: collapse;
}

td {
  width: 3rem;
  padding: 2rem;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.dishes{

}

.payment-input {
  margin: 1rem;
}

.pay-button {
  font-size: 1.3rem;
  margin: 1rem;
  font-weight: 550;
  padding: 0.4rem 0.8rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(200, 240, 200);
 
  border: 1px solid rgb(141, 141, 141);
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
}

.pay-button:hover{
  background-color: rgb(228, 243, 239);
  color: rgb(32, 32, 32);
  font-weight: 550;
  box-shadow: inset 0 0 10px #ffffff;
  box-shadow: 1px 1px 30px rgb(255, 255, 255);
}

 /************************************************************/
/************************** Spinner ****************************/
/**********************************************************/


.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background:rgb(111, 121, 111);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(111, 121, 111);
}

 /************************************************************/
/************************** About ****************************/
/**********************************************************/

.about-container{
  font-family: "Roboto" sans-serif;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( rgb(224, 243, 243), rgb(160, 173, 173));
}

.about-card{
  padding: 2rem;
  width: 80vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 1.5rem;
  padding: 0px;
  background-color: rgb(248, 248, 243);
  border-radius: 2px;
  box-shadow: 1px 2px 5px rgb(173, 173, 173);
}
